* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
}

body {
  background-color: #1f242d;
  color: #fff;
  font-family: "Poppins", sans-serif;
}

.header {
  display: flex;
  justify-content: space-between;
  padding: 25px 10%;
}

.logo {
  color: #fff;
  text-decoration: none;
  font-weight: 600;
  font-size: 27px;
  cursor: default;
  animation: slideLeft 1s ease forwards;
  opacity: 0;
}

.navbar a {
  text-decoration: none;
  color: #fff;
  padding: 0px 16px;
  font-weight: 600;
  transition: 0.3s all;
  animation: navMenu 1s ease forwards;
  animation-delay: calc(0.2s * var(--i));
  opacity: 0;
}

.navbar a:hover,
.navbar a.active {
  color: #0ef;
}

/* ---IMAGE SECTION--- */
.container {
  display: flex;
  padding: 90px 10%;
  justify-content: left;
  align-items: left;
}

.container1 {
  display: flex;
  padding: 90px 2%;
  justify-content: left;
  align-items: center;
  margin-left: 60%;
}

.container2 {
  display: flex;
  padding: 90px 2%;
  justify-content: left;
  align-items: right;
  margin-left: -15%;
}

.Portfolio h3 {
  font-size: 30px;
  font-weight: 700;
  margin: 10px 0;
  letter-spacing: 1px;

}

.part1 {
  animation: part1 1s ease forwards;
  opacity: 0;
}

.Portfolio h1 {
  font-size: 75px;
  font-weight: 700;
  letter-spacing: 1px;
  animation: slideRight 0.5s ease forwards;
  opacity: 0;
  animation-delay: 1s;
}

.Portfolio h4 {
  font-size: 30px;
  font-weight: 600;
}

.Portfolio h4 span {
  color: #0ef;
  font-size: 30px;
  font-weight: 600;
}

.part2 {
  animation: part2 1s ease forwards;
  opacity: 0;
}

p {
  line-height: 27px;
  margin: 20px 0px 40px 0px;
  animation: slideLeftP 1s ease forwards;
  opacity: 0;
  animation-delay: 1.2s;
}


i {
  position: relative;
  border: 2px solid #0ef;
  padding: 10px;
  border-radius: 50%;
  color: #0ef;
  margin: 0px 8px;
  transition: 0.3ms;
  animation: socialIcons 1s ease forwards;
  animation-delay: calc(0.3s *var(--i));
  opacity: 0;

}

i:hover {
  box-shadow: 0 0 20px #0ef;
}

.img img {
  height: 400px;
  width: 400px;
  animation: zoomIn 1s ease forwards;
  animation-delay: 1s;
  opacity: 0;
}

.img1 img {
  height: 400px;
  width: 400px;
  margin-left: 10%;
  animation: zoomIn 1s ease forwards;
  animation-delay: 1s;
  opacity: 0;
}

.img2 img {
  height: 400px;
  width: 400px;
  animation: zoomIn 1s ease forwards;
  animation-delay: 1s;
  margin-left: 225%;
  opacity: 0;
}

.img3 img {
  height: 30px;
  width: 30px;
  margin-left: -0%;
  animation: zoomIn 1s ease forwards;
  animation-delay: 1s;
  opacity: 0;
}

h2 {
  margin-left: 5%;
  color: #0ef;
  width: 200px;

}

h2:hover {
  box-shadow: none;
}

form {
  color: aqua;
  margin-bottom: 10%;
  margin-left: 5%;
}

#submit-btn {
  background-color: #0ef;
  color: black;
  width: 100px;
  height: 25px;
  border-radius: 10%;


}

.download-btn {
  background-color: #0ef;
  margin-top: 50px;
  padding: 20px 70px;
  border: none;
  border-radius: 30px;
  cursor: pointer;
  font-weight: 600;
  transition: 0.3s;
  box-shadow: 0 0 15px #0ef;
  animation: slideUp 1s ease forwards;
  text-decoration: none;
  color: #1f242d;
  animation-delay: 1.5s;
}

.download-btn:hover {
  box-shadow: none;
}


footer {
  height: 20px;
  color: #fff;
  padding: 20px;
  text-align: center;
}


@keyframes slideLeft {
  0% {
    transform: translateY(100px);
    opacity: 0;
  }

  100% {
    transform: translateY(0);
    opacity: 1;
  }
}

@keyframes navMenu {
  0% {
    transform: translateY(100px);
    opacity: 0;
  }

  100% {
    transform: translateY(0);
    opacity: 1;
  }
}

@keyframes part1 {
  0% {
    transform: translateY(100px);
    opacity: 0;
  }

  100% {
    transform: translateY(0);
    opacity: 1;
  }
}

@keyframes part2 {
  0% {
    transform: translateY(100px);
    opacity: 0;
  }

  100% {
    transform: translateY(0);
    opacity: 1;
  }
}

@keyframes slideRight {
  0% {
    transform: translateX(-100px);
    opacity: 0;
  }

  100% {
    transform: translateX(0);
    opacity: 1;
  }
}

@keyframes slideLeftP {
  0% {
    transform: translateX(100px);
    opacity: 0;
  }

  100% {
    transform: translateX(0);
    opacity: 1;
  }
}

@keyframes socialIcons {
  0% {
    transform: translateX(100px);
    opacity: 0;
  }

  100% {
    transform: translateX(0);
    opacity: 1;
  }
}

@keyframes slideUp {
  0% {
    transform: translateY(100px);
    opacity: 0;
  }

  100% {
    transform: translateY(0);
    opacity: 1;
  }
}

@keyframes zoomIn {
  0% {
    transform: scale(0);
    opacity: 0;
  }

  100% {
    transform: scale(1);
    opacity: 1;
  }
}